amqp==2.2.2
billiard==3.5.0.3
captcha-solver==0.1.1
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.29
grab==0.6.38
idna==2.6
kombu==4.1.0
lxml==4.0.0
olefile==0.44
Pillow==4.2.1
pycurl==7.43.0
pytils==0.3
pytz==2017.2
requests==2.18.4
selection==0.0.13
selenium==3.6.0
six==1.11.0
urllib3==1.26.5
user-agent==0.1.9
vine==1.1.4
weblib==0.1.25
